$text-medium: 14px;
$text-small: 12px;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: 600;
$font-bolder: 700;
$card-shadow: rgba(0, 0, 0, 0.1);
$card-shadow-1: 0 2px 8px 0 var($card-shadow);
$card-shadow-2: 0 2px 12px 0 var($card-shadow);
$card-shadow-3: 0 2px 6px 0 var($card-shadow);
$text-color: #404040;
$text-white: #fff;
$text-green: #22a958;
$text-green-rgb: 34, 169, 88;
$input-color: #cbcbcb;
$text-color-light: #a3a3a3;
$seperator-color: #e6e6e6;
$white-color: #fff;
$alpha-carbon-grey: rgba(64, 64, 64, 0.04);
$starcolor-40: #5ba839;
$light-limeade-color: rgba(91, 168, 41, 0.08);